<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- MvcNamespaceUtils.registerDefaultComponents(context, source); -->

    <mvc:annotation-driven/>
    <context:component-scan base-package="com.ljt.study"/>


    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="synchronizeOnSession" value="true"/>
    </bean>-->

    <!--<bean class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter"/>
    <bean id="/servlet" class="com.ljt.study.controller.SimpleServletHandlerAdapterServlet"/>-->


    <!-- BeanNameUrlHandlerMapping -->
    <bean id="/beanNameUrl-1" class="com.ljt.study.controller.BeanNameUrlHandlerMappingController1"/>
    <bean name="/beanNameUrl-2" class="com.ljt.study.controller.BeanNameUrlHandlerMappingController2"/>
    <bean name="simpleController" class="com.ljt.study.controller.SimpleUrlHandlerMappingController"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/simpleUrl">simpleController</prop>
            </props>
        </property>
    </bean>
    <!-- 必须放在自定义SimpleUrlHandlerMapping之后 因为这个注解会自动注册SimpleUrlHandlerMapping -->
    <mvc:default-servlet-handler/>


    <mvc:interceptors>
<!--        <bean class="com.ljt.study.interceptor.FirstInterceptor" />-->
<!--        <bean class="com.ljt.study.interceptor.SecondInterceptor" />-->
        <mvc:interceptor>
            <mvc:mapping path="/attribute/*"/>
            <bean class="com.ljt.study.interceptor.AttributeInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"></property>
        <property name="prefix" value="/jsp/"></property>
    </bean>

</beans>
